@model IEnumerable<Lesson2PracticeForm.Entities.User>
<html>
<head>
    <style>
        table {
            width: 70%;
        }

        th, td {
            border: 1px solid black;
            text-align: center;
            padding-top: 10px;
        }
        .btn{ 
            padding-top: 30px;
            width: 70%;
        }
        button{ 
            margin: auto;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div>
    <table>

        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Image</th>
            <th>Age</th>
        </tr>
        </thead>
        @foreach (var user in Model)
        {
            <tbody>
            <td>@user.Name</td>
            <td>@user.Surname</td>
            <td>@user.Image</td>
            <td>@user.Age</td>
            </tbody>
        }

    </table>
    <div class="btn">
        <button onclick="redirectToAddPage()">Add new User</button>
    </div>
</div>
<script>
    function redirectToAddPage() {
        window.location.href = '@Url.Action("Add", "Home")';
    }
</script>
</body>
</html> 